body {
    margin: 0px;
    margin-bottom: 10%;
    background: rgb(255, 255, 255);
    font-family: "sans-serif";
    color: rgb(0, 0, 0);
}
.menu {
  color: #ffffff;
}
#clock {
    position: absolute;
    top: 0px;
    right: 0px;
}
#Intro {
  font-weight: bold;
  font-size: 300%;
  text-align: center;
  text-shadow: 0 0 5px #000000;
}
#introduction{
  font-size: 50%;
  font-weight: normal;
}
.main-header
{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #0055aa;
  color: solid #ffffff;
}
#icona
{
  top: 1%;
  left: 0px;
}
.btn {
  font-size: 50%;
  font-weight: normal;
  width: 200px;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  border: 3px solid white;
}
.heroImage {
  background-size: cover;
  background-image: url("images/cmu_night.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #0055aa;
  height: 80vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.proj {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}
.botlinks
{
  width: 200px;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 20px;
  color: black;
  border: 3px solid black;
}